RewriteEngine Off

RewriteCond %{REQUEST_URI} !^/images
RewriteCond %{REQUEST_URI} !^/css
RewriteCond %{REQUEST_URI} !^/scripts
RewriteRule .* index.php

RewriteCond %{HTTP_USER_AGENT} .*MSIE.*
RewriteRule .* MSIE.html